html {
    height: 100%;
  }

/*Christhopher Lion's Flash Storm Lightning code from Codepen*/

.lightning{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://cdn.vectorstock.com/i/1000x1000/72/72/lighting-vector-2897272.webp');
    /*convert image to B&W and host to cloudinary*/
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    background-attachment: fixed;
    -webkit-filter: brightness(3);
    filter: brightness(3);
    -o-filter: brightness(3);
    -moz-filter: brightness(3);
    z-index: -1;
    opacity: 0;
}

.flashit{
    -webkit-animation: flash ease-out 20s infinite;
    -moz-animation: flash ease-out 20s infinite;
    animation: flash ease-out 20s infinite;
    animation-delay: 5s;
    }
    
    @-webkit-keyframes flash {
      from { opacity: 0; } 
      92% { opacity: 0; }
      93% { opacity: 0.6; }
      94% { opacity: 0.2; }
      96% { opacity: 0.9; } 
      to { opacity: 0; }
    }
    
    @keyframes flash {
      from { opacity: 0; } 
        92% { opacity: 0; }
      93% { opacity: 0.6; }
        94% { opacity: 0.2; }
        96% { opacity: 1; } 
      to { opacity: 0; }
}
    


/*Object Styling*/

.objects{
  color: white;
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border:1px solid blue;
}

.headBuffer{
  border:2px solid plum;
  height: 13%;
}

.cottage{
  height: 60%;
  background-image: url(https://res.cloudinary.com/dhfwprvtz/image/upload/v1678462049/JackKnife/Scary-House-Haunted-Haunted-House-Icon-Spooky-5603118_zbpqqa.png);
  background-size: contain;background-repeat: no-repeat;
  background-position: center;
}

.talkbox{
  color: white;
  background-color: black;
  height: 27%;
}



/*Rain Drops Styling*/
  
  body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to top, #131111 35%, #251010);
  }
  
  .rain {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  
  .rain.back-row {
    display: none;
    z-index: 1;
    bottom: 60px;
    opacity: 0.5;
  }
  
  body.back-row-toggle .rain.back-row {
    display: block;
  }
  
  .drop {
    position: absolute;
    bottom: 100%;
    width: 15px;
    height: 120px;
    pointer-events: none;
    animation: drop 0.5s linear infinite;
  }
  
  @keyframes drop {
    0% {
      transform: translateY(0vh);
    }
    75% {
      transform: translateY(90vh);
    }
    100% {
      transform: translateY(90vh);
    }
  }
  
  .stem {
    width: 1px;
    height: 60%;
    margin-left: 7px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
    animation: stem 0.5s linear infinite;
  }
  
  @keyframes stem {
    0% {
      opacity: 1;
    }
    65% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}